  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
<f:if condition="{content.title}">
      <h2 class="page-section-heading text-center text-uppercase text-white">{content.title}</h2>
</f:if>
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">        
	<f:if condition="{content.lefttxt}">
	  <p class="lead">{content.lefttxt}</p>
	</f:if>	
        </div>
        <div class="col-lg-4 mr-auto">
          <f:if condition="{content.righttxt}">
	  <p class="lead">{content.righttxt}</p>
	</f:if>	
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
<f:if condition="{content.btnlink}">
	<f:link.typolink parameter="{content.btnlink}" class="btn btn-xl btn-outline-light">

          <i class="fas fa-download mr-2"></i>
          {content.btntxt}

</f:link.typolink>
</f:if>
      </div>

    </div>
  </section>
