<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
	    <f:if condition="{image}">
            <f:image image="{image.0}" class="masthead-avatar mb-5" alt="banner-img" maxWidth="240" maxHeight="255" />
      	</f:if> 
      	<f:if condition="{content.headline}">
            <h1 class="masthead-heading text-uppercase mb-0">{content.headline}</h1>
      	</f:if>
        <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <f:if condition="{content.text}">
            <p class="masthead-subheading font-weight-light mb-0">{content.text}</p>
        </f:if>
    </div>
</header>
