<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
    <f:variable name="logo" value="{f:cObject(typoscriptObjectPath: 'lib.siteSettings.logo')}" />
    <f:if condition="{logo}">
      <f:variable name="rootpage" value="{f:cObject(typoscriptObjectPath: 'lib.siteSettings.root')}" />
      <f:variable name="imgWidth" value="{f:cObject(typoscriptObjectPath: 'lib.siteSettings.logoWidth')}" />
      <f:variable name="imgHeight" value="{f:cObject(typoscriptObjectPath: 'lib.siteSettings.logoHeight')}" />
      <f:variable name="logoText" value="{f:cObject(typoscriptObjectPath: 'lib.siteSettings.logoText')}" />
      <f:link.page pageUid="{rootpage}" class="navbar-brand js-scroll-trigger">
        <f:if condition="{imgWidth} && {imgHeight}">
          <f:then>
            <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'logo')}" width="{imgWidth}" height="{imgHeight}" />
          </f:then>
          <f:else>
            <f:if condition="{imgWidth}">
              <f:then>
                <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'logo')}" width="{imgWidth}" />
              </f:then>
              <f:else>
                <f:if condition="{imgHeight}">
                  <f:then>
                    <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'logo')}" height="{imgHeight}" />
                  </f:then>
                  <f:else>
                    <f:image src="{logo}" alt="{f:if(condition: logoText, then: logoText, else: 'logo')}" />
                  </f:else>
                </f:if>
              </f:else>
            </f:if>
          </f:else>
        </f:if>
        <f:if condition="{logoText}">{logoText}</f:if>
      </f:link.page>
    </f:if>
    
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <f:translate key="menu" extensionName="ns_theme_freelancer" />
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <f:render section="MainMenu" arguments="{MainMenu: MainMenu}" />
    </div>
  </div>
</nav>
<f:section name="MainMenu">
  <f:if condition="{MainMenu}">
    <ul id="menu-main-menu" class="navbar-nav ml-auto">
      <f:for each="{MainMenu}" as="item">
        <li class="nav-item mx-0 mx-lg-1">
          <a href="./#<f:format.case mode='lower'>{item.title}</f:format.case>" title="{item.title}" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">
              {item.title}
          </a>
        </li>
      </f:for>
    </ul>
  </f:if>
</f:section>
