<!-- Header -->
<f:render partial="Header" arguments="{_all}" />

<!--TYPO3SEARCH_begin-->
<f:switch expression="{data.layout}">
	<f:case value="1">
		<div class="container">
			<f:mark.contentArea colPos="0">
				<f:cObject typoscriptObjectPath="lib.content" />
			</f:mark.contentArea>
		</div>
	</f:case>
	<f:case value="2">
		<f:mark.contentArea colPos="0">
			<f:cObject typoscriptObjectPath="lib.content" />
		</f:mark.contentArea>
	</f:case>
	<f:defaultCase>
		<f:mark.contentArea colPos="0">
			<f:cObject typoscriptObjectPath="lib.headerContent" />
			<f:cObject typoscriptObjectPath="lib.PageContent" />
		</f:mark.contentArea>
	</f:defaultCase>
</f:switch>
<!--TYPO3SEARCH_end-->

<!-- Footer -->
<f:render partial="Footer" />