  <section style="background-color:#1abc9c!important; padding:10px;" class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
	<f:if condition="{flexformData.title}">
	      <h2 class="page-section-heading text-center text-uppercase text-white">{flexformData.title}</h2>
	</f:if>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>       
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-6 ml-auto">        
	<f:if condition="{flexformData.lefttxt}">
	  <p class="lead">{flexformData.lefttxt}</p>
	</f:if>	
        </div>
        <div class="col-lg-6 mr-auto">
          <f:if condition="{flexformData.righttxt}">
	  <p class="lead">{flexformData.righttxt}</p>
	</f:if>	
        </div>
      </div>
      <div class="text-center mt-4">
	<f:if condition="{flexformData.btnlink}">
		<f:link.typolink parameter="{flexformData.btnlink}" class="btn btn-xl btn-outline-light">
		  <i class="fas fa-download mr-2"></i>
		  {flexformData.btntxt}
		</f:link.typolink>
	</f:if>
      </div>
    </div>
  </section>
