<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <div class="ns-backend-preview">
    <h2><b><f:translate key="LLL:EXT:ns_theme_freelancer/Resources/Private/Language/locallang_db.xlf:wizard.ns_social" /></b></h2>
    <f:if condition="{flexformData.title}">
      <h4 class="text-uppercase mb-4">{flexformData.title}</h4>
    </f:if>

    <f:if condition="{flexformData.fblink}">
      <a class="btn btn-outline-light btn-social mx-1" href="{flexformData.fblink}">
        <i class="fa fa-facebook-f"></i>
      </a>
    </f:if>
    <f:if condition="{flexformData.twlink}">
      <a class="btn btn-outline-light btn-social mx-1" href="{flexformData.twlink}">
        <i class="fa fa-twitter"></i>
      </a>
    </f:if>
    <f:if condition="{flexformData.inlink}">
      <a class="btn btn-outline-light btn-social mx-1" href="{flexformData.inlink}">
        <i class="fa fa-linkedin"></i>
      </a>
    </f:if>
    <f:if condition="{flexformData.drilink}">
      <a class="btn btn-outline-light btn-social mx-1" href="{flexformData.drilink}">
        <i class="fa fa-dribbble"></i>
      </a>
    </f:if>
  </div>
  
</html>  
