<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

  <div class="ns-backend-preview aboutus">
    <h2><b><f:translate key="LLL:EXT:ns_theme_freelancer/Resources/Private/Language/locallang_db.xlf:wizard.ns_aboutus" /></b></h2>
    <div class="about-backend">
      <f:if condition="{data.title}">
        <h1 class="text-center">{data.title}</h1>
      </f:if>  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <f:if condition="{data.lefttxt}">
              <p>{data.lefttxt}</p>
            </f:if>  
          </div>
          <div class="col-lg-6 col-md-12">
            <f:if condition="{data.righttxt}">
              <p>{data.righttxt}</p>
            </f:if>  
          </div>
        </div>
        <f:if condition="{data.btntxt}">
          <p class="text-center btn about-btn"><i class="fa fa-download mr-2"></i> {data.btntxt}</p>
        </f:if>  
      </div>
    </div>
  </div>

</html>