<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

  <div id="about" class="section mcb-section {f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
        <f:variable name="title" value="{data -> f:render.text(field: 'title')}" />
        <f:if condition="{title}">
          <h2 class="page-section-heading text-center text-uppercase text-white">{title}</h2>
        </f:if>
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <f:variable name="lefttxt" value="{data -> f:render.text(field: 'lefttxt')}" />
            <f:if condition="{lefttxt}">
              <div class="about-section__left-content">
                <p class="lead">{lefttxt}</p>
              </div>
            </f:if>
          </div>
          <div class="col-lg-4 mr-auto">
            <f:variable name="righttxt" value="{data -> f:render.text(field: 'righttxt')}" />
            <f:if condition="{righttxt}">
              <div class="about-section__right-content">
                <p class="lead">{righttxt}</p>
              </div>
            </f:if>
          </div>
        </div>
        <div class="text-center mt-4">
          <f:variable name="btntxt" value="{data -> f:render.text(field: 'btntxt')}" />
          <f:if condition="{btntxt} && {data.btnlink.url} != ''">
            <f:link.typolink class="btn btn-xl btn-outline-light" parameter="{data.btnlink}">
              <i class="fas fa-download mr-2"></i>
              {btntxt}
            </f:link.typolink>
          </f:if>
        </div>
      </div>
    </section>
  </div>
</html>
