body{
	padding:0;
}
.confirm-msg{
	min-height: calc(100vh - 428px);
	margin-top: 125px;
	text-align: center;	
    overflow: hidden;
    margin-bottom: 0;
}
.confirm-msg h1,
.confirm-msg p{
    color: #1abc9c;	
    line-height: normal;    
}
@media screen and (max-width: 767px){
	.confirm-msg h1{
		font-size:30px;
	}
}