<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<section class="page-section" id="contact">
	<div class="container">

		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
			<f:translate key="LLL:EXT:ns_theme_freelancer/Resources/Private/Language/locallang_flex.xlf:Contact.title" />
		</h2>

		<div class="divider-custom">
	        <div class="divider-custom-line"></div>
	        <div class="divider-custom-icon">
	          <i class="fas fa-star"></i>
	        </div>
	        <div class="divider-custom-line"></div>
	    </div>

	    <div class="row">
        	<div class="col-lg-8 mx-auto">

				<formvh:renderRenderable renderable="{form}">
						<formvh:form
								object="{form}"
								action="{form.renderingOptions.controllerAction}"
								method="{form.renderingOptions.httpMethod}"
								id="{form.identifier}"
								section="{form.identifier}"
								enctype="{form.renderingOptions.httpEnctype}"
								addQueryString="{form.renderingOptions.addQueryString}"
								argumentsToBeExcludedFromQueryString="{form.renderingOptions.argumentsToBeExcludedFromQueryString}"
								additionalParams="{form.renderingOptions.additionalParams}"
						>
							<f:render partial="{form.currentPage.templateName}" arguments="{page: form.currentPage}" />

							<div id="success"></div>
            				<div class="form-group">
								<f:render partial="Form/Navigation" arguments="{form: form}" />
							</div>
							
						</formvh:form>
				</formvh:renderRenderable>
			</div>
		</div>		
	</div>	
</section>	
</html>
